<% provide(:title, "About") %> 
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | Magazine Student Website</title>
</head>
<body>
	<h1>About</h1>
	<p>
		This website is being created by Caleb Hopper as an EAST project.
	</p>
</body>
</html>