<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | Magazine Student Website</title>
</head>
<body>
	<h1>Help</h1>
	<p>
		This page is currently under construction.
		If you have suggestions, please email me at
		chopper@mageast.com.
	</p>
</body>
</html>
